<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2020-11-27T20:57:08Z</date>
	<key>WorkspacePath</key>
	<string>/Users/mazharulhuq/Dropbox/Programming with SwiftUI/Programming SwiftUI/Part II Views and Controls/Chapter 7 View Modifiers/Code/Border Modifier Examples/Border Modifier Examples.xcodeproj</string>
</dict>
</plist>
